<strong>Olá {{ student }}</strong>
<p>Sua pergunta foi respondida :) .</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta: </strong> {{ answer_at }} <br />
  <br />
</p>
